 .flex-all-center {
	display : flex ;
	align-items : center ;
	justify-content : center ;
	
}
.btn {
	padding: 3px 14px;
color: white;
background: var(--main-bg-color);
border: 2px solid white;
border-radius: 8px;
cursor: pointer;
	
}

.my-2{
	margin : 20px 0 ;
	
}
.my-1{
	margin : 7px 0 ;
	
}
.text-center{
	text-align : center ;
	
}

.hr{
	color : aliceblue ;
	
}